
body {
    text-align: center;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #f3f3f3;
    margin: 0px;
    }

dd, li, blockquote { }

h1,h2,h3,h4,h5,h6 { font-size: 1em; font-weight: bold; color: #000; line-height: 1; margin-bottom: 0.5em; }
h1 { font-size: 22px; color: #000; }
h2 { font-size: 1.2em; }
td { vertical-align: top; text-align: left; }
th { vertical-align: top; text-align: left; font-weight: bold; }

a { color: #000; text-decoration: underline; }
a:visited { color: #000; }
a:hover { color: #000; text-decoration: underline; }


/* useful general styles */
.bold { font-weight: bold; }
.left { float: left; }
.clear { clear: both; }
.center  { text-align: center; }
ol.alpha { list-style-type: lower-alpha; }

/* layout */
#primary_wrapper {
  float: left;
  margin: 0px 0px;
  width: 100%;
  /*border: 1px solid #333;*/
  text-align: left;
}

/* header */
#header_wrapper {
  width: 100%;
  background-color: #333;
  -moz-box-shadow: -15px 3px 15px #333;
  -webkit-box-shadow: -15px 3px 15px #333;
  box-shadow: -15px 3px 15px #333;
  text-align: center;
  position: relative;
  z-index: 100;
}
#header {
  width: 960px;
  height: 60px;
  margin: 0px auto;
  text-align: center;
  width: 960px;
}

body#body-documents-show #header {
  width: 100%;
}

#header #logo {
  float: left;
}

#header #logo a { text-indent: -999em; display: block; width: 231px; height: 60px;
    background: url("/images/logo.png") no-repeat scroll 0px -33px transparent }

/* navbar */
#header #navbar { 
  float: right;
  color: #116ec4;
  line-height: 50px;
  margin-right: 10px;
}

#header #navbar a {
  color: #116ec4;
  font-size: 14px;
  text-decoration: none;
}

/* main content */
#main_content {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 5;
}

#main_content_inner {
  width: 920px;
  float: left;
  text-align: left;
  margin: 0px auto 0px 480px;
  left: -50%;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  -moz-box-shadow: 0px 1px 3px #333;
  -webkit-box-shadow: 0px 1px 3px #333;
  box-shadow: 0px 3px 15px #333;
  padding: 20px;
}

#main_content_inner_with_sidebar {
  overflow: hidden !important;
}

body#body-documents-new #main_content_inner, body#body-documents-show #main_content_inner {
  text-align: center;
}

/* intro */
#intro {
  background-color: #eee;
  width: 60%;
  border: 1px solid #898989;
  -moz-box-shadow: 0px 1px 3px #333;
  -webkit-box-shadow: 0px 1px 3px #333;
  box-shadow: 0px 3px 15px #333;
  padding: 20px;
  margin: 0px auto 20px;
  text-align: center;
}

#intro h1 {
  text-align: center;
  line-height: 200%;
}

#intro p {
  margin: 8px 0px;
}

/* new document */
#new {
  width: 60%;
  margin: 0px auto;
  padding: 20px;
  text-align: left;
  background-color: #dbdbdb;
  border: 1px solid #898989;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 1px 3px #333;
  -webkit-box-shadow: 0px 1px 3px #333;
  box-shadow: 0px 3px 15px #333;
}

#new h2 {
  color: #116ec4;
  font-size: 20px;
  text-align: center;
}

#new fieldset li {
  list-style-type: none;
}

#new li.submit {
  float: right;
}

#new li.is_public {
  float: left;
}

#new li.is_public label {
  font-size: 14px;
}

#new li.is_public input {
}

#new textarea {
  width: 100%;
}

hr.welcome {
  width: auto;
  height: 2px;
  margin: 20px 0px;
  background-color: #116ec4;
  color: #116ec4;
}

/* recent */
#recent {
  float: left;
}

#recent_public, #recent_user {
  float: left;
  text-align: left;
  margin-top: 0px;
  width: 460px;
}

#recent_public {
  border-right: 2px solid #116ec4;
}

#recent h2 {
  color: #116ec4;
  font-weight: bold;
}

ul.documents li {
  float: left;
  width: 100%;
  margin: 8px 0px;
}

ul.documents .snippet, ul.documents .details {
  float: left;
}

ul.documents .details {
  font-style: italic;
  line-height: 120%;
  width: 120px;
}

ul.documents .snippet {
  margin-left: 5px;
  width: 335px;
}

ul.documents .snippet a { text-decoration: none; }
ul.documents .snippet a:hover { text-decoration: underline; }

body#body-documents-index ul.documents .snippet {
  width: 750px;
}


/* footer */
#footer_wrapper { width: 100%; text-align: center; }
#footer { width: 960px; margin: 5px auto; height: 50px; line-height: 50px; }
