
body {
    text-align: center;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0px;
    }

dd, li, blockquote { }

h1,h2,h3,h4,h5,h6 { font-size: 1em; font-weight: bold; color: #000; line-height: 1; margin-bottom: 0.5em; }
h1 { font-size: 22px; color: #000; }
h2 { font-size: 1.2em; }
td { vertical-align: top; text-align: left; }
th { vertical-align: top; text-align: left; font-weight: bold; }

a { color: #000; text-decoration: none; }
a:visited { color: #000; }
a:hover { color: #000; text-decoration: underline; }


/* useful general styles */
.bold { font-weight: bold; }
.left { float: left; }
.clear { clear: both; }
.center  { text-align: center; }
ol.alpha { list-style-type: lower-alpha; }

/* layout */
#primary_wrapper {
  float: left;
  margin: 0px 10px;
  width: 99%;
  border: 1px solid #333;
  text-align: left;
}

/* header */
#header {
  width: 100%;
  padding: 8px 0px;
  float: left;
  border-bottom: 1px solid #333;
}

#header #logo { text-indent: 20px; font-size: 18px; font-weight: bold; }

/* navbar */
#header #navbar { 
  float: right;
  margin-top: -8px;
  padding: 8px;
  background-color: #ccc;
  border: 1px solid #aaa;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  /*-moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;*/
}

#header #navbar li { list-style-type: none;  }

/* main content */
#main_content {
  float: left;
  width: 100%; /*960px;*/
}

#main_content_inner {
  float: left;
  margin: 20px;
}

#main_content_inner_with_sidebar {
  overflow: hidden !important;
}

