/* new document */
#new_document {
  margin: 40px 80px 40px 0px;
}

/* show document */
#original_text {
  line-height: 160%;
  width: 602px;
  height: 100%;
  float: left;
}

#original_text_inner {
  margin: 10px;
}

#original_text #instructions {
  margin-bottom: 10px;
}

#original_text span.word:hover {
  background-color: #CFEEFF;
  cursor: pointer;
}

#sidebar_right {
  float: left;
  width: 330px;
  height: 100%;
  border-left: 3px solid #b88;
  color: #fff;
  background-color: #eee;
  left: 0px !important;
}

#sidebar_right #instructions {
  display: none;
}

#sidebar_right_inner {
  width: 100%;
  height: auto;
}

#sidebar_right.initial #instructions {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-style: italic;
  height: 350px;
  color: #333;
}

.ui-resizable-e { width: 5px !important; right: 0px !important; }
.ui-resizable-handle {
  background-color: #b88;
}

#sidebar_right h2 {
  margin: 5px 0px;
  text-indent: 10px;
  line-height: 200%;
  background-color: #b88;
}

#sidebar_right_inner > h2 {
  margin-top: 0px !important;
}

#sidebar_right .inner {
  color: #000;
  margin: 5px 10px;
}

ol.definitions li {
  list-style: lower-roman inside;
  margin-bottom: 8px;
  line-height: 120%;
}

#wikipedia_article .thumb.tright {
  display: block;
  float: right;
  clear: right;
  margin: 5px;
}
#wikipedia_article .editsection { display: none; }

#wikipedia_article p {
  line-height: 120%;
}

#sidebar_right .source {
  background: #ccc;
  margin: 4px 0px 4px -10px;
  padding: 4px 10px;
  width: 100%;
}