/* show document */
#original_text {
  line-height: 160%;
  height: 100%;
  width: 50%;
  padding: 10px;
  float: left;
  text-align: center;
  
}

#original_text_inner {
  width: 582px;
  padding: 14px;
  border: 1px solid #dbdbdb;
  margin: 10px auto;
  text-align: left;
  background-color: #fff;
}

#original_text #instructions {
  margin-bottom: 10px;
}

#original_text span.word {
  background-color: #CFE2FF;
  cursor: pointer;
}

#original_text span.word:hover {
  text-decoration: underline;
}

#original_text span.word.visited {
  background-color: #eff6ff;
}

#original_text span.word.current {
  background-color: #8FBAFF !important;
}

#sidebar_right {
  float: left;
  width: 330px;
  height: 100%;
  /*border-left: 3px solid #b88;*/
  color: #fff;
  background-color: #eee;
  left: 0px !important;
}

#sidebar_right #instructions {
  display: none;
}

#sidebar_right_inner {
  width: 100%;
  height: auto;
  float: left;
}

#sidebar_right_inner.loading {
  background: #eee url(/images/ajax-loader.gif) center no-repeat;
  height: 500px;
}

#sidebar_right.initial #instructions {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-style: italic;
  height: 350px;
  width: 100%;
  padding: 10px 20px;
  color: #333;
}

.ui-resizable-e { width: 5px !important; right: 0px !important; }
.ui-resizable-handle {
  /*background-color: #b88;*/
  background-color: #343434;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

#sidebar_right #history {
  width: 100%;
  float: left;
  clear: left;
  margin: 5px;
}

#sidebar_right #history ul { float: left; }

#sidebar_right #history ul li {
  display: inline-block;
  float: left;
  margin-left: 4px;
}

#sidebar_right #history ul li a {
  float: left;
  padding: 4px !important;
  background-color: #CFE2FF !important;
  
  color: #000 !important;
  border: 1px solid #8FBAFF !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#sidebar_right #history ul li a.current {
  background-color: #8FBAFF !important;
  border-color: #333 !important;
  font-weight: bold;
}

#sidebar_right #history ul li a:hover {
  background-color: #8FBAFF !important;
  border-color: #333 !important;
}

#sidebar_right h2 {
  margin: 5px 0px;
  text-indent: 10px;
  line-height: 200%;
  background-color: #b88;
  float: left;
  clear: both;
  width: 100%;
}

#sidebar_right_inner .results > h2 {
  margin-top: 0px !important;
}

#sidebar_right .inner {
  color: #000;
  margin: 5px 10px;
}

ol.definitions li {
  list-style: lower-roman inside;
  margin-bottom: 8px;
  line-height: 120%;
}

#wikipedia_article .thumb.tright {
  display: block;
  float: right;
  clear: right;
  margin: 5px;
}

#wikipedia_article p {
  line-height: 1.2em;
}

#wikipedia_article a {
  color: #0645AD !important;
}

#wikipedia_article a:hover {
  text-decoration: underline;
}

#wikipedia_article .editsection { display: none; }

#wikipedia_article ul li {
  margin-left: 20px;
}

#wikipedia_article h2 {
  background: none;
  float: none;
  border-bottom: 1px solid #aaa;
}

#wikipedia_article .rellink, #wikipedia_article .dablink {
  font-style:italic;
  margin-bottom:0.5em;
  padding-left:2em;
}

#wikipedia_article p {
  line-height: 120%;
}

#sidebar_right .source {
  background: #ccc;
  margin: 4px 0px 4px -10px;
  padding: 4px 10px;
  width: 100%;
}