#original_text {
  float: left;
  width: 60%;
  line-height: 160%;
}

#original_text #instructions {
  margin-bottom: 10px;
}

#original_text span.word:hover {
  background-color: #CFEEFF;
  cursor: pointer;
}

#more_information, #complex_words {
  float: left;
  width: 40%;
}
