- @sidebar_present = true
#original_text.initial.resizable
  #original_text_inner
    %h2 Created #{@document.created_at.strftime('%d-%b-%Y %H:%M')}
    = raw render_document_text(@document)

#sidebar_right
  #sidebar_right_inner
    %p#instructions Click any word in the text to get an explanation.

