#original_text
  %h2 Your Document
  %p#instructions Click any word to get an explanation.
  = raw render_document_text(@document)

#complex_words
  %h2 Definitions

#more_information
  %h2 More Information
  - # @wiki_html