- @sidebar_present = true
#original_text.resizable
  #original_text_inner
    #document_id{:"data-id" => @document.id.to_s}
    %h2 Created #{@document.created_at.strftime('%d-%b-%Y %H:%M')}
    = render_document_text(@document)

#sidebar_right.initial
  #history
    %ul
  #sidebar_right_inner
    %p#instructions Click any word in the text to get an explanation.

